html {
  scroll-behavior: smooth;
  font-size: 10px;
  color: white;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

header .navbar a {
  color: white;
  padding: 10px 20px;
}

header .navbar a:hover {
  background: white;
  color: #EB7B5B;
}

header .navbar .button {
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  border-radius: 30px;
}

header .navbar .button:hover {
  background: none;
  border: 1px solid #EB7B5B;
  color: #EB7B5B;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.flex {
  display: flex;
}

.logo {
  width: 6rem;
}

.name {
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
}

.home {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.home h1 {
  font-size: 7rem;
}

.desc {
  width: 75%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.w50 {
  width: 50%;
}

.talk {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.talk:hover a {
  font-size: 2rem;
}

.orange {
  color: #EB7B5B;
}

.mr-1 {
  margin-right: 1rem;
}

.w40 {
  width: 40%;
}

.img-responsive {
  width: 100%;
  object-fit: cover;
}

.w5 {
  width: 5%;
}

.rotate {
  padding-left: 15rem;
  transform: rotate(90deg);
  letter-spacing: 4rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.media{
  padding: 5rem 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white
}
.media img{
  padding: 1rem;
}
#about{
  padding: 10rem 0;
}
.title{
  font-size: 5rem;

}
.about-me{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.CV {
  padding: 1rem 2rem;
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  border-radius: 50px;
  font-size: 2rem;
  color: white;
}

.CV:hover {
  border: 1px solid #EB7B5B;
  background: transparent;
  color: #EB7B5B;
}
.footer{
  padding: 10rem 0;
}
.footer-img{
  width: 15rem;
}
.footer-title{
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.signoff{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.share{
  padding-top: 4rem;
  padding-bottom: 10rem;
  font-size: 2rem;
}
.share a {
  color: white;
  background: rgba(255, 255, 255, 0.5);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.share a:hover {
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}
.white{
  color: white;
}
.bold{
  font-weight: bold;
}